body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    background-image: url(https://th.bing.com/th/id/OIP.R9lk9JBVHiOHqfx1kL0FDgHaE8?w=900&h=601&rs=1&pid=ImgDetMain);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(17, 51, 222);
}

.container {
    background-color: rgb(197, 191, 230);
    padding: 40px;
    margin: 0 auto;
    width: 60%;
    box-shadow: 0 0 10px rgba(58, 33, 158, 0.1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    margin-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(131, 127, 127, 0.1);
    margin-bottom: 20px;
}

form input, form textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: bisque;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7ee497;
}

#resume {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(189, 183, 183, 0.1);
}